---
import { getMensajes } from "../services/mensajes";
import Layout from "../layouts/Layout.astro";
import NuevoMensajeForm from "../components/NuevoMensajeForm.astro";
import FilterForm from "../components/FilterForm.astro";
import MensajeList from "../components/MensajeList.astro";
const search = Astro.url.searchParams.get("search");

const mensajes = getMensajes(search ?? "");
---

<Layout>
  <h1 class="text-8xl font-bold my-8">Mensajes</h1>

  <section
    class="min-w-[50vw] flex flex-col gap-4 border border-gray-300 rounded-md p-8 m-8"
  >
    <FilterForm search={search ?? ""} />
    <NuevoMensajeForm />
  </section>

  <MensajeList mensajes={mensajes} />
</Layout>

<script src="../client.ts"></script>
